<div class="row">
	<div class="col-sm-6">
		<h2>Intrant</h2>
		<textarea class="form-control" id="form-json-intrant"></textarea>
		<button class="btn btn-default">Copier</button>
		<button class="btn btn-default">Coller</button>
		<button class="btn btn-default">Vider</button>
	</div>
	
	<div class="col-sm-6">
		<h2>Extrant</h2>
		<textarea class="form-control" id="form-json-extrant"></textarea>
	</div>
</div>