<div class="row">
	<div class="col-sm-6">
		<textarea class="form-control" id="form-json-intrant"></textarea>
	</div>
	
	<div class="col-sm-6">
		<textarea class="form-control" id="form-json-extrant"></textarea>
	</div>
</div>