html, body {
    height: 100%;
}

.list-criteria-viewport {
    min-height: 660px;
    max-height: 660px;
    margin-bottom: 19px;
    height: 100%;
    overflow-y: scroll;
}

.border-bottom {
    border-bottom: 2px solid black;
}

.editor-top {
    height: 400px;
}

.list-criteria-item {
    position: relative;
    min-height: 55px;
}

#criteria-preview {
    height: 250px;
    max-height: 250px;
    overflow-y: auto;
}

#form-import-data {
    height: 430px;
}

#PreviewPanel, #CodePanel {
    max-height: 650px;
    overflow-y: scroll;
}